/* FORM ELEMENTS */

/* Default Placeholders */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $black;
  font-size: 15px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $black;
  font-size: 15px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $black;
  font-size: 15px;
}
:-moz-placeholder { /* Firefox 18- */
  color: $black;
  font-size: 15px;
}

/* Default Styling overrides */
select::-ms-expand {
    display: none;
}



